<a href="https://colab.research.google.com/github/iamhariharanvj/Text-to-HandWriting/blob/main/Multiple%20Linear%20Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing the Libraries

In [50]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Importing the Dataset

In [52]:
df = pd.read_csv("50_Startups.csv")
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values
df.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### Encoding Categorical Data

In [53]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[3])] , remainder='passthrough')
X = np.array(ct.fit_transform(X))

### Spliting the Data into Train and Test Set

In [54]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state=0)

### Training the Multiple Regression Model on the Training Set

In [55]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Predicting the Test results

In [59]:
y_pred = regressor.predict(X_test)
y_test =np.array(y_test)
np.set_printoptions(precision=1)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_pred),1)),1))

[[103015.2 103282.4]
 [132582.3 144259.4]
 [132447.7 146122. ]
 [ 71976.1  77798.8]
 [178537.5 191050.4]
 [116161.2 105008.3]
 [ 67851.7  81229.1]
 [ 98791.7  97483.6]
 [113969.4 110352.2]
 [167921.1 166187.9]]